.stock {
    &-available,
    &-completed {
        color: var(--coreshop-available);
    }

    &-limited,
    &-pending {
        color: var(--coreshop-limited);
    }

    &-outofstock {
        color: var(--coreshop-outofstock);
    }
}